.rat-mouse-pointer {
	background-image: url(/extensions/wikia/hacks/RealtimeAnonTracking/images/pointer.png); /* base64 */
	display: block;
	left: 0;
	height: 23px;
	position: absolute;
	top: 0;
	width: 17px;
	z-index: 10000000;
}
